* {
    color: #FCFCFF;
}

.topSection {
    width: 100vw;
    height: 100vh;
    background-image: url(img/main-bg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Montserrat', sans-serif;
    */
}


/*begin header & navigation*/

.topHeader {
    width: 100vw;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socialIcons {
    display: none;
}

.hamSocialContainer {
    height: 20vh;
    width: 100vw;
    display: flex;
}

.navLinks {
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-size: 1.6em;
}


/*begin content section*/

.mainContent {
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleText {
    font-size: 9em;
}

.subTitleText {
    font-size: 2.5em;
}

.iconContainer {
    width: 100vw;
    height: 20vh;
    padding-bottom: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconBottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10vh;
    height: 10vh;
    background: #fcfcff;
    border-radius: 50%;
}

.arrowIcon {
    height: 4vh;
    width: 4vh;
}


/*begin media queries*/

@media(max-width: 700px) {
    .topHeader {
        justify-content: space-between;
    }
    .navLinks {
        display: none;
    }
    .hamSocialContainer {
        width: 100vw;
        height: 20vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 40px;
    }
    .hamCircle {
        width: 60px;
        height: 60px;
        border: 1px solid;
        border-color: #fcfcff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .hamBars {
        height: 1vh;
        width: 50%;
        color: #FCFCFF;
        display: flex;
        border-bottom: 2px solid #fcfcff;
        padding-bottom: 5px;
    }
    ul {
        display: none;
    }
    .socialIcons {
        display: flex;
        justify-content: space-between;
        width: 25vw;
    }
    
    @media(max-width: 500px){
        .titleText{
            font-size: 30vw;
        }
        .subTitleText{
            font-size: 8vw;
        }
    }
    
    @media(max-width: 200px){
        .topHeader{
            width: 100vw;
            height: 30vh;
            
        }
        
        .hamSocialContainer{
            width: 100vw;
            height: 30vh;
            flex-direction: column-reverse;
            justify-content: space-around;
            
        }
        
        .socialIcons{
            width: 100vw;
            justify-content: space-around;
        }
        
        .mainContent{
            height: 50vh;
        }
    }
    /*    end of media queries*/
}
