* {
    color: #FCFCFF;
    
}

.topSection {
    
    width: 100%;
    height: 700px;
    background-image: url(img/main-bg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;*/
}
/*begin header & navigation*/

.topHeader {
    width: 100%;
    height: 120px;
    background: goldenrod;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.socialIcons{
    display: none;
}

/*begin content section*/

.mainContent {
    width: 100%;
    height: 700px;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}


/*begin media queries*/

@media(max-width: 700px) {
    
    .hamCircle {
        width: 64px;
        height: 64px;
        border: 1px solid;
        border-color: #fcfcff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: 32px;
    }
    .hamBars {
        height: 8px;
        width: 40px;
        color: #FCFCFF;
        display: flex;
        border-bottom: 2px solid #fcfcff;
        padding-bottom: 5px;
    }
    ul {
        display: none;
    }
    
    .socialIcons{
        display: flex;
        justify-content: space-around;
        width: 225px;
        padding-right: 50px
    }
    
/*    end of media queries*/
}
